<div class="card" *ngIf="_category">
    <h5 class="card-header" i18n>Edit - {{_category.name}}</h5>

    <div class="card-body">
        <form>

            <div class="form-group m-2">
                <label for="name" i18n>Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="_category.name " />
            </div>

            <div class="form-group m-2">
                <label for="description" i18n>Description</label>
                <input type="text" class="form-control" name="description" [(ngModel)]="_category.description " />
            </div>

            <div class="form-group m-2">
                <label for="amount" i18n>Amount</label>
                <input type="number" class="form-control" name="amount" [(ngModel)]="_category.amount" />
            </div>

            <div class="form-group m-2">
                <label for="frequency" i18n>Frequency</label>
                <select class="form-select" i18n-aria-label="Select frequency" name="frequency" [(ngModel)]="_category.frequency">
                    <option value="Daily" i18n>Daily</option>
                    <option value="Weekly" i18n>Weekly</option>
                    <option value="SemiWeekly" i18n>SemiWeekly</option>
                    <option value="Monthly" i18n>Monthly</option>
                    <option value="Yearly" i18n>Yearly</option>
                </select>
            </div>

        </form>
    </div>

    <div class="text-end">
        <button type="button" class="btn btn-warning m-2" (click)="cancel()" i18n>Cancel</button>
        <button type="button" class="btn btn-primary m-2" (click)="save()" i18n>Save</button>
    </div>
</div>