<div class="card" *ngIf="category">
    <h5 class="card-header">{{category.name}}</h5>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-xl-2 col-sm-3 col-4" i18n>
                Description :
            </div>
            <div class="col-8">
                {{category.description}}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-xl-2 col-sm-3 col-4" i18n>
                Amount :
            </div>
            <div class="col-8">
                {{category.amount | currency:'CAD'}}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-xl-2 col-sm-3 col-4" i18n>
                Frequency :
            </div>
            <div class="col-8">
                {{ category.frequency.toLowerCase()| translate }}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-xl-2 col-sm-3 col-4" i18n>
                Begin date :
            </div>
            <div class="col-8">
                {{category.period.beginDate | date}}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-xl-2 col-sm-3 col-4" i18n>
                End date :
            </div>
            <div class="col-8">
                {{category.period.endDate | date}}
            </div>
        </div>
    </div>

    <div class="text-end">
        <button type="button" class="btn btn-danger m-2" (click)="delete()">Delete</button>
        <button type="button" class="btn btn-primary m-2" (click)="edit()">Edit</button>
    </div>
</div>